path.link.Hypernym {
    stroke: blue;
}

path.link.Hyponym {
    stroke: green;
}

path.link.Antonym {
    stroke: red;
}

path.link.Meronym {
    stroke: blueviolet;
}

path.link.Holonym {
    stroke: navy;
}

path.link.Synset {
    stroke: grey;
}

g.node .Word {
    fill: darkgrey;
}

g.node .Noun {
    fill: greenyellow;
}

g.node .Verb {
    fill: aqua;
}

g.node .Adverb {
    fill: darkred;
}

g.node .Adjective {
    fill: darkseagreen;
}

g.node.hovered > circle{
  fill:orange;
}

.hovered {
  fill: orange;
  background-color: orange;
}

.select2-search__field {
  padding: .375rem .75rem;
}

.buttons {
  margin: .5rem .25rem;
  width: 45%;
  font-size: .75rem;
  border-radius: 0;
}

#definitions, #graph>svg {
  visibility: hidden;
}

.word-name {
    font: 10px sans-serif;
}

path.link {
    fill: none;
}
